.context-link, .nav-link {
  padding: 5px;
  text-decoration: none;
}

.nav-link:last-child {
  border-right: 1px solid;
}

.context-link, .nav-link:nth-of-type(n + 2) {
  border-left: 1px solid;
}


